SUMO Files/emission.xml
SUMO Files/fcd_output.xml
Traffic_Simulator (EDA Results and Analysis)/checkpoints/original_data_backup.csv
Traffic_Simulator (EDA Results and Analysis)/combined_sumo_data2.csv
